/* This file is for your main application css. */
/*just in case*/
/* 
.header {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 52px;
  height: 52px;
  background-color: #8a25b1;
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  margin-top: 1px;
  padding: 0;
  width: 170px;
  height: 47px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/wschat.png");
  background-size: 100%;
}
*/