<!DOCTYPE html>
<html lang="en" class="full-page">
  <head>
    <!-- Icon made by [https://www.flaticon.com/free-icon/pencil-edit-button_61456] from www.flaticon.com  -->
    <!-- Icon made by [https://www.flaticon.com/authors/dave-gandy] from www.flaticon.com -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>S_Chat</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="full-page">
    <header class="header">
      <div class="logo"></div>
      <%= render ChatWeb.SharedView, "edit_text.html", editing: true%>
      <!--%= render "_edit_text.html", editing: true, conn: @conn %-->
    </header>

    <div class="reactive-container">
      <!--
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      -->
      <main role="main" style="height: 100%; margin: 0; padding: 0;">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <!--http://whatdidilearn.info/2018/03/04/using-channels-in-phoenix.html -->
    <!-- script>window.userToken = "<%= assigns[:user_token] %>"</script -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
